<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core
http://cxf.apache.org/schemas/core.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	<!--<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
			<import resource="classpath:META-INF/cxf/cxf-extension-http.xml"/>-->

	<tx:annotation-driven/>

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config/>

	<context:component-scan base-package="com.loycl.mt"/>
	<context:component-scan base-package="com.loycl.mt.rest"/>
	<context:component-scan base-package="com.loycl.mt.service"/>
	<context:component-scan base-package="com.loycl.mt.model"/>


	<!-- auto proxy -->
	<bean
			class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

	<!-- CXF config -->
	<jaxrs:server id="service"
	              address="/">
		<jaxrs:serviceBeans>
			<bean class="com.loycl.mt.rest.impl.SampleRestImpl"/>
			<bean class="com.loycl.mt.rest.impl.MtJaxRsImpl"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml"
			       value="application/xml"/>
			<entry key="json"
			       value="application/json"/>
			<entry key="feed"
			       value="application/atom+xml"/>
		</jaxrs:extensionMappings>

		<jaxrs:providers>
			<ref bean="jsonProvider"/>
			<ref bean="xsltProvider"/>
			<ref bean="jaxbProvider"/>
			<ref bean="mtRSExceptionMapper"/>
			<!--<ref bean="atomFeedProvider"/>-->
		</jaxrs:providers>

		<jaxrs:features>
			<cxf:logging id="INFO"/>
		</jaxrs:features>

		<jaxrs:inInterceptors>
			<bean class="org.apache.cxf.jaxrs.provider.jsonp.JsonpInInterceptor"/>
		</jaxrs:inInterceptors>

		<jaxrs:outInterceptors>
			<bean
					class="org.apache.cxf.jaxrs.provider.jsonp.JsonpPreStreamInterceptor"/>
			<bean
					class="org.apache.cxf.jaxrs.provider.jsonp.JsonpPostStreamInterceptor">
				<property name="paddingEnd"
				          value=")"/>
			</bean>
		</jaxrs:outInterceptors>
	</jaxrs:server>


	<bean id="jsonProvider"
	      class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
	<bean id="jaxbProvider"
	      class="org.apache.cxf.jaxrs.provider.JAXBElementProvider"/>
	<bean id="xsltProvider"
	      class="org.apache.cxf.jaxrs.provider.XSLTJaxbProvider"/>


	<bean id="logInbound"
	      class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
	<bean id="logOutbound"
	      class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>

	<cxf:bus>
		<cxf:features>
			<cxf:logging/>
		</cxf:features>
	</cxf:bus>
</beans>

